@using Dominio.Entidades
@{
    ViewBag.Title = "Wonderland";
}
@model List<Post>;

@foreach (Post post in Model)
{
    
    List<Comentario> comentariosDelPost = post.DevolverListaComentarios();
    
    <div class="post-container">
        <h2>@post.Autor</h2>
        <div>
            <div class="border">@post.Contenido</div>
            <div class="border">
                @foreach(Comentario comentario in comentariosDelPost)
                {
                    <p>@comentario.Fecha</p>
                    <p>@comentario.Contenido</p>
                }
            </div>
            <label id=>Realizar un comentario</label>
            <input type="text" id="realizar_comentario" placeholder="realizar un comentario" />
            <input type="button" id="btn_comentario" value="Enviar Comentario" />
        </div>
    </div>
}
