@{
    string? nombreUsuario = Context.Session.GetString("nombreUsuario");
    string? rol = Context.Session.GetString("rol");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialNetwork.styles.css" asp-append-version="true" />
    <!-- ...................................... Iconos .........................................-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home/index" >SocialNetwork</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if(rol == "miembro")
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Post/Wonderland">Posts</a>
                                @* Buscar Publicaciones segun un texto y un valor de aceptacion -> /Post/Buscar *@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Amigos">Amigos</a>
                                @* Ver solicitudes pendietes -> Amigos/Index  *@
                                @* Ver amigos -> Amigos/Index -> Amigos/Lista  *@
                                @* Enviar solicitud -> Amigos/Index -> Amigos/Buscar *@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Publicar">Publicar</a>
                                @* Hacer Post *@
                            </li>
                        </ul>
                    }
                    else if (rol == "administrador")
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Consola/Lista_Miembros">Listar Miembros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Consola/Bloquear_Miembros">Bloquear Miembros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Consola/Bloquear_Post">Banear Post</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        //Used to aligng buttons
                        <ul></ul>
                    }
                    <ul class="navbar-nav">
                        @if(nombreUsuario == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Home/Ingresar">Ingresar</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <p class="text-dark" >Hola, @nombreUsuario</p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Home/Logout">Cerrar sesión</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SocialNetwork - S.Muslera &amp; J.Lima
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
