@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

<form method="post">
    <input type="text" name="email" placeholder="Ingrese su email" />
    <input type="password" name="contrasenia" placeholder="Ingrese su contraseña" />
    <input type="submit" value="Login" />
</form>

<p class="alert-danger">@ViewBag.MensajeError</p>