@using Dominio.Entidades;

@model List<Miembro>;
@* La lista de miembros que llega a la vista son los amigos del usuario logueado *@\

<div>
@foreach(Miembro amigos in Model)
{
    <div>
        <span>@amigos.Nombre</span>
        <span>@amigos.Apellido</span>
        <span>@amigos.Email</span>
    </div>
}
</div>