@using Dominio.Entidades

@model List<Miembro>

<h2>Buscar Miembros</h2>

@if (Model.Count == 0)
{
    <p>No hay miembros disponibles para agregar como amigos.</p>
}
else
{
    <div>
        @foreach (Miembro miembro in Model)
        {
            <div>
                <span>Nombre: @miembro.Nombre</span>
                <span>Apellido: @miembro.Apellido</span>
                <span>Email: @miembro.Email</span>
                <a href="/Amigos/EnviarSolicitud?emailSolicitado=@miembro.Email">Enviar Solicitud</a>
            </div>
        }
    </div>
}
