@{
    ViewBag.Title = "Index";
}

@if (ViewBag.MensajeError != null)
{
    <h2 class="alert-danger text-center">@ViewBag.MensajeError</h2>
}

<h2>Amistades</h2>
<div>
    <a href ="/Amigos/Amigos">Amigos<a/>
</div>

<div>
    <a href="/Amigos/Buscar">Posibles amistades<a/>
</div>
<div>
    <a href="/Amigos/Pendientes">Solicitudes Pendientes</a>
</div>